.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  padding: 0 5px;
  gap: 4px;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 10vw;
  }
  .is_active {
    background: tomato;
    color: white;
  }
}