.img_wrap {
  position: relative;
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 250px;
  img {
    height: 100%;
  }
}
.adult_tag {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 20px;
  display: flex;
  justify-content: center;
  border-radius: 10vw;
  background: red;
  color: white;
  font-size: 12px;
}