@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    @apply font-noto;
  }
}

@layer components {
  .flex-vertical-center {
    @apply flex;
  }
  .button-hover {
    @apply hover:bg-primary hover:saturate-100 hover:text-white
  }
}
