input {
  height: 26px;
  padding: 2px 8px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 6px;
  outline:none;
  &::placeholder {
    font-size: 14px;
  }
}

select {
  border: 1px solid black;
  padding: 2px 1px 2px 2px;
  border-radius: 4px;
}

small {
  color: red;
}

table {
  min-width: 100%;
}

