@import 'assets/style/variable.scss';

.searchbar {
  display: flex;
  border-bottom: 1px solid $primary;
  align-items: center;
  width: 300px;
  input {
    width: 100%;
    height: 100%;
    border: none;
  }
  svg {
    display: inline-flex;
    min-width: 34px;
    height: 34px;
  }
}